input,
select,
textarea {
  font-size: .8em;
}
textarea {
  resize: none;
}

strong {
  font-weight: 600;
}

small {
  font-size: 70%;
}

#design-options {
  img {
    width: 80px;
  }
}

.active img {
  border-color: #333;
}

#preview-window {
  overflow: hidden;
  position: relative;
  text-rendering: geometricPrecision;
  header,
  p {
    font-family: 'Gotham', sans-serif;
    line-height: 1.2;
    height: auto;
  }
  header {
    font-weight: 400;
    letter-spacing: -0.5pt;
    margin-bottom: .5em;
    z-index: 20;
  }
  p {
    font-weight: 300;
    z-index: 10;
  }
  &.facebook {
    height: 630px;
    width: 1200px;
  }
  &.google {
    height: 373px;
    width: 497px;
  }
  &.linkedin {
    height: 220px;
    width: 646px;
  }
  &.twitter {
    height: 220px;
    width: 440px;
  }
}

#bg-container {
  background-size: cover !important;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.blue,
.green {
  header,
  .copy { color: #fff; }
}

.white {
  header,
  .copy { color: #717074; }
}

/* Facebook */
.facebook {
  #positioning-container {
    left: 90px;
    header {
      font-size: 48px;
      width: 711px;
    }
    .copy {
      font-size: 24px;
      width: 905px;
    }
  }
  #bg-container {
    &.blue {
      background: url(../../images/backgrounds/facebook-blue.jpg) no-repeat;
    }
    &.green {
      background: url(../../images/backgrounds/facebook-green.jpg) no-repeat;
    }
    &.white {
      background: url(../../images/backgrounds/facebook-white.jpg) no-repeat;
    }
  }
}

/* Google */
.google {
  #positioning-container {
    left: 13px;
    header {
      font-size: 28px;
      width: 360px;
    }
    .copy {
      font-size: 15px;
      width: 428px;
    }
  }
  #bg-container {
    &.blue {
      background: url(../../images/backgrounds/google-blue.jpg) no-repeat;
    }
    &.green {
      background: url(../../images/backgrounds/google-green.jpg) no-repeat;
    }
    &.white {
      background: url(../../images/backgrounds/google-white.jpg) no-repeat;
    }
  }
}

/* LinkedIn */
.linkedin {
  #positioning-container {
    left: 50px;
    header {
      font-size: 24px;
      width: 300px;
    }
    .copy {
      font-size: 16px;
      width: 456px;
    }
  }
  #bg-container {
    &.blue {
      background: url(../../images/backgrounds/linkedin-blue.jpg) no-repeat;
    }
    &.green {
      background: url(../../images/backgrounds/linkedin-green.jpg) no-repeat;
    }
    &.white {
      background: url(../../images/backgrounds/linkedin-white.jpg) no-repeat;
    }
  }
}

/* Twitter */
.twitter {
  #positioning-container {
    left: 12px;
    header {
      font-size: 24px;
      line-height: 1.15;
      width: 300px;
    }
    .copy {
      font-size: 12px;
      line-height: 1.15;
      width: 400px;
    }
  }
  #bg-container {
    &.blue {
      background: url(../../images/backgrounds/twitter-blue.jpg) no-repeat;
    }
    &.green {
      background: url(../../images/backgrounds/twitter-green.jpg) no-repeat;
    }
    &.white {
      background: url(../../images/backgrounds/twitter-white.jpg) no-repeat;
    }
  }
}
